<section class="login">
    <h1>My Recipe Book  <i class="fa-solid fa-book"></i></h1>
    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="in-form">
                <h2>Login</h2>
                <input formControlName="email" type="text" name="email" placeholder="E-mail">
                <p class="w"  *ngIf="fc['email'].touched && fc['email'].invalid">This field is required!</p>
                <input formControlName="password" type="password" name="password" placeholder="password">
                <p class="w"  *ngIf="fc['password'].touched && fc['password'].invalid">This field is required!</p>
                <p>Create new account <a routerLink="/signeUp">Signe Up !</a></p>
                <button type="submit">Login <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
            </div>
        </form>
    </div>
</section>
